body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  
  
  .site-header .navbar-nav .nav-link {
    /* color: #cbd5db; */
    color:   #f1f1f1 !important;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  

  #calendar-Header {
    background-color: lightblue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px;
    font-size: x-large;
    
  }

 #calendar-Body {
  background-color: grey;
  justify-content: left;
  padding: 10px;
 }
 #calendar-Footer {
  background-color: grey;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px;
 }


.day:first-of-type {
  border-left:1px solid gray;
}

 .day {
    min-height: 100px;
    
   width: 100%;
   background-color: whitesmoke;
   border-right:1px solid gray;
   border-bottom: 1px solid gray;
   padding: 5px;
 }

 .day.active {
  background-color: lightblue;
 }

 table {
  table-layout: fixed;
  padding: 10px;
 }
 table  td {
   padding: 0;
 }

 thead {
   text-align: center;
   width: 100%;
 }
  

 .eventDot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 }

 /* .eventDot.green {
  
  background-color: green;
  
} */

.calendarEvent > .eventText {
  font-size: small;
}

.checkbox {
  visibility: hidden;
  position: absolute;
}
.inactiveDay {
  color: gray;
}
.activeDay {
  color:blue;
}
.left{
  margin-right: 45px !important;
}

