{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div id="notifications" style="z-index: 1" padding="10">
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
            This is a primary alert—check it out!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <script>
                //$('.alert').fadeIn();
                $('.alert').alert();
            </script>
        </div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Create Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="eventForm" >
                        <div class="form-row justify-content-md-center">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="eventType"
                                        id="eventSwitch">
                                    <label class="custom-control-label" for="eventSwitch">Personal</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEventName">Event Name</label>
                            <input type="text" name="eventName" class="form-control" id="inputEventName" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEventDiscription">Event Discription</label>
                            <input type="text" name="eventDescription" class="form-control" id="inputEventDiscription" required>
                        </div>
                        <div class="form-row justify-content-md-center">
                            <span class="col-md-12 text-center">Select Days</span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Sunday" type="checkbox"
                                    id="sundayCheckbox">
                                <label class="form-check-label inactiveDay"  for="sundayCheckbox">Sun</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Monday" type="checkbox"
                                    id="mondayCheckbox">
                                <label class="form-check-label inactiveDay"  for="mondayCheckbox">Mon</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Tuesday" type="checkbox"
                                    id="tuesdayCheckbox">
                                <label class="form-check-label inactiveDay" for="tuesdayCheckbox">Tue</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Wednesday" type="checkbox"
                                    id="wednesdayCheckbox">
                                <label class="form-check-label inactiveDay" for="wednesdayCheckbox">Wed</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Thursday" type="checkbox"
                                    id="thursdayCheckbox">
                                <label class="form-check-label inactiveDay" for="thursdayCheckbox">Thur</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Friday" type="checkbox"
                                    id="fridayCheckbox">
                                <label class="form-check-label inactiveDay" for="fridayCheckbox">Fri</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input checkbox" name="Saturday" type="checkbox"
                                    id="saturdayCheckbox">
                                <label class="form-check-label inactiveDay" for="saturdayCheckbox">Sat</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="event-startdate-input" class="col-form-label">Start Date</label>
                                <div>
                                  <input class="form-control" name="eventStartDate" type="date" id="event-startdate-input">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="event-enddate-input" class="col-form-label">End Date</label>
                                <div>
                                  <input class="form-control" name="eventEndDate" type="date"  id="event-enddate-input">
                                </div>
                              </div>
                          </div>
                          
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="start-time-input" class="col-form-label">Start Time</label>
                                <div>
                                    <input class="form-control" name="eventStartTime" type="time" 
                                        id="start-time-input">
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="end-time-input" class="col-form-label">End Time</label>
                                <div>
                                    <input class="form-control" name="eventEndTime" type="time" 
                                        id="end-time-input">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="end-time-input" class="col-form-label">Time Slot Length</label>
                                <div>
                                    <input class="form-control" name="eventTimeSlotLength" type="number" 
                                        id="end-time-input" value="10">
                                </div>
                                <small id="timeSlotHelp" class="form-text text-muted">In Minutes</small>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="eventcolor-input" class="col-form-label">Color</label>
                            <div>
                                <input class="form-control" name="eventColor" type="color" value="#563d7c"
                                    id="eventcolor-input">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="eventDelete" >Delete Event</button>
                    <button type="button" class="btn btn-secondary" id="eventSignUps" >View SignUps</button>
                    <button type="button" class="btn btn-secondary" id="eventShare" >Share</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="eventSubmit">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shareEventModal" tabindex="-1" aria-labelledby="shareEventModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="shareEventModalLabel">Share Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shareEventForm">
                     
                        <div class="form-group">
                            <label for="inputshareEmail">Email</label>
                            <input type="text" name="email" class="form-control" id="inputshareEmail" required>
                        </div>
                        <div class="form-group">
                            
                            
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="copyLink()">Copy Link</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="confirmModalLabel">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="confirmSubmision">
                     
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12" id="calendar">
            <div class="row row-cols-3" id="calendar-Header">
                <div class="col">
                    {% if user %}
                    <button type="btn btn-primary" 
                        class="btn btn-primary" onclick="openCreateEventForm()">Create Event</button>
                    <script> var user = { "username": "{{user.username}}", "admin": {{user.admin}}}; </script>
                    <script>var events = JSON.parse('{{events | tojson}}');</script>
                        
                    {% endif %}
        
                </div>
                <div class="col text-center">
                    <span id="month">April</span>
                </div>
                <div class="col .offset-md-4 ">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary" onclick="previousMonth();"><span
                                aria-hidden="true">&laquo;</span></button>
                        <button type="button" class="btn btn-outline-primary"
                            onclick="setCurrentMonth();">Today</button>
                        <button type="button" class="btn btn-outline-primary" onclick="nextMonth();"><span
                                aria-hidden="true">&raquo;</span></button>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <table class="col" id="calendar-Body">
                    <thead>
                        <tr>
                            <th>Sun</th>

                            <th>Mon</th>

                            <th>Tue</th>

                            <th>Wed</th>

                            <th>Thu</th>

                            <th>Fri</th>

                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--This essentially gets errased when the page is loaded its just here for template -->
                        <tr>
                            <td>
                                <div class="day">28</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">29</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">30</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">31</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">1</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">2</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">3</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day">4</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">5</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">6</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">7
                                    <div class="events">
                                        <!-- <div class="calendarEvent">
                                            <span class="eventDot green"></span>
                                            <span class="eventText">Event Name</span>
                                        </div> -->

                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="day">8</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">9</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">10</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day">11</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">12</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">13</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">14</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">15</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">16</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">17</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day">18</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">19</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">20</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">21</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">22</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">23</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">24</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day">25</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">26</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">27</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">28</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">29</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">30</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">1</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day">2</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">3</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">4</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">5</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">6</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">7</div>
                                <div class="events"></div>
                            </td>
                            <td>
                                <div class="day">8</div>
                                <div class="events"></div>
                            </td>
                        </tr>
                    </tbody>


                    <script src="../static/scripts/calender.js"></script>
                    <script src="../static/scripts/event.js"></script>
                </table>
            </div>
            <div class="row" id="calendar-Footer">

            </div>
        </div>
    </div>
</div>


{% endblock content %}